@font-face {
    font-family: 'Apparat';
    src: url('../fonts/Apparat-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyOra';
    src: url('../fonts/IvyOraText-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyOra-Light';
    src: url('../fonts/IvyOraText-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: 'IvyOra';
    padding: 0;
    margin: 0;
    background-color: #efede5;
}

#header {
    /**
    1920x1080
    */
    position: relative;
    background-image: url('../assets/IMAGE_HEADER.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo>img {
    width: 25%;
}

#second-header {
    position: absolute;
    width: 100%;
    padding-bottom: 40px;
    bottom: 0;
    width: 100%;
}

.header-share-links>img, .header-share-links>a>img{
    margin-right: 10px;
    margin-left: 10px;
    width: 1.4vw;
}

.t2 {
    font-family: 'Apparat';
    color: white;
    text-align: center;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-center-justice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#content {
    /**
    1920x1080
    */
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#content-title {
    display: flex;
    color: #262626;
    margin: 40px 0;
    margin-right: auto;
    margin-left: auto;
    font-family: 'IvyOra-Light';
    text-align: center;
    font-size: 21px;
    width: 70vw;
}
.pointer {
    cursor: pointer;
}
#content-text {
    font-family: 'Apparat';
    color: #262626;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.parag {
    white-space: pre-line;
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    width: 23vw;
}

 #footer {
    font-family: 'Apparat';
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: white;
    background-color:#262626 ;
    padding: 10px 0;
 }

#partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;
}

.partner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 16vw;
}

.partner>a>img {
    width: 95%;
}

@media screen and (max-width: 900px) {
    #content-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .t2 {
        padding-top: 10px;
        padding-top: 10px;
        font-size: 15px;
    }
    #header-logo {
        padding: 50% 0;
    }
    #header-logo>img {
        width: 70%;
    }
    #second-header {
        padding-bottom: 10px;
    }

    .header-share-links>a>img {
        width: 6vw;
    }

    .parag {
        width: 90vw;
    }

    #content-title {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #partners {
        height: 100vh;
    }
    .partner {
        width: 90vw;
    }
}